extends ../admin

block content
  .content
    h2.content-title Markets
    table#markets.table
      thead
        tr
          th Type
          th Status
          th Action
      tbody
        - each market in markets
          tr
            td #{market.type}
            td #{market.status}
            td
              button.market-switcher.btn(data-id="#{market.id}", data-status="#{market.status === 'disabled' ? 'enabled' : 'disabled'}", class="#{market.status === 'disabled' ? 'btn-success' : 'btn-danger'}")
                | #{market.status === 'disabled' ? 'Enable' : 'Disable'}
