.fund-list.container
  .con-header
    .con-header-title Wallets
  - var availableCurrencies = [];
  ul.fund-nav
    li(class="#{wallet ? '' : 'active'}"): a(href='/funds') Overview
    - each wl in wallets
      li(class="#{wallet && wallet.id == wl.id ? 'active' : ''}"): a(href='/funds/#{wl.currency}') 
        .label #{wl.currency}
        .balance <span class="amount" data-wallet-balance-id="#{wl.id}">#{_str.toFixed(wl.getFloat('balance'))}</span>
      - availableCurrencies.push(wl.currency);
  - if (availableCurrencies.length !== Object.keys(currencies).length)
    .add-wallet
      form#add-wallet-form
        select#currency-type(name="currency_type")
          - each currencyName, currency in currencies
            - if (availableCurrencies.indexOf(currency) === -1)
              option(value="#{currency}") #{currency} - #{currencyName}
        button(type="submit") Add