.fund-list.container
  .con-header
    .con-header-title Portfolio
  ul.fund-nav
    li.active: a(href='/funds') Overview
    - each wallet in wallets
      li: a(href='/funds/#{wallet.currency}') 
        .label #{wallet.currency}
        .balance <span class="amount">#{wallet.balance}</span> #{wallet.currency}
  .add-wallet
    form#add-wallet-form
      select#currency-type(name="currency_type")
        - for currency in currencies
          option(value="#{currency}") #{currency} - Bitcoin
      button(type="submit") Add