extends ../../layout

block content
  #finances.main-content.settings(role='main')
    .wrapper
      .col-aside
        include _funds_list
      .col-main
        #balance.container
          .con-header
            h3.con-header-title #{wallet.currency} Balance
          table.trade-data
            tr
              th Balance
              td #{wallet.balance} #{wallet.currency}
            tr
              th Available
              td #{wallet.balance} #{wallet.currency}
            tr
              th On Hold
              td #{wallet.balance} #{wallet.currency}
            

        // Pending Transactions
        #pending-transactions.container
          .con-header
            h3.con-header-title Pending Transactions
          table.trade-data
            tr
              th Description
              th Amount
              th Confirms
            tbody#pending-transactions-cnt(data-wallet-id="#{wallet.id}")

        // Deposit
        .wrap
          .two-col-wrap
            .transaction-con.container
              .con-header
                h3.con-header-title Deposit Bitcoin
              .con-body
                label To deposit bitcoins, send to this address:
                .coin-deposit-address
                  code #{wallet.address}
                  button#show-qr-bt Show QR
                  button#copy-address(data-clipboard-text="#{wallet.address}") Copy
                #qr-address-cnt.qr-address(data-address="#{wallet.address}")
                ul.terms
                  li Minimal deposit amount is 0.0001 BTC.
                  li Your deposit will be credited after 3 network confirmations.
          .two-col-wrap
            .transaction-con.container
              .con-header
                h3.con-header-title Withdraw Bitcoin
                .header-balance <a href="#" class="amount">0893892039 PPC</a> Available
              .con-body
                form#withdraw-form
                  input(type="hidden", name="wallet_id", value="#{wallet.id}")
                  label Enter the amount you would like to withdraw:
                  .currency-input
                    input(type="text", name="amount", placeholder="Amount")
                    .overlay-amount #{wallet.currency}
                  label Enter a bitcoin address:
                  .address-input
                    input(type="text", name="address", placeholder="#{wallet.currency} address")
                  .confirm-order
                    button Withdraw
                  ul.terms
                    li Minimal amount for withdrawal is 0.01 BTC.
                    li Fee for withdrawal is 0.001 BTC.
                    li Daily limit on withdrawal is 100 BTC.

        // Open Orders (All)
        #open-orders.container
          .con-header
            h3.con-header-title Open Orders
          table.trade-data
            thead
              tr
                th Market
                th Date
                th Type
                th Price
                th Amount
                th Total
                th Action
            tbody
              tr.sell
                td <a href="#">BTC/LTC</a>
                td.trade-date 18/12/13 05:31
                td.trade-type Sell
                td.trade-price 1 LTC
                td.trade-amount 2 BTC
                td.trade-total 2 LTC
                td.trade-action <a href="#" class="action cancel">Cancel</a>
              tr.sell
                td <a href="#">BTC/LTC</a>
                td.trade-date 18/12/13 05:31
                td.trade-type Sell
                td.trade-price 1 LTC
                td.trade-amount 2 BTC
                td.trade-total 2 LTC
                td.trade-action <a href="#" class="action cancel">Cancel</a>

        // Order History
        #order-history.order-history.container
          .con-header
            h3.con-header-title Order History
          .table-wrap
            table.trade-data
              thead
                tr
                  th Market
                  th Date
                  th Type
                  th Price
                  th Amount
                  th Total
              tbody
                tr.sell
                  td BTC/LTC
                  td.trade-date 18/12/13 04:23
                  td.trade-type Sell
                  td.trade-price 0.0046
                  td.trade-amount 19.8594
                  td.trade-total 0.09135324

        // Transaction History
        #balance-history.balance-history.container
          .con-header
            h3.con-header-title Transaction History
          .table-wrap
            table.trade-data
              thead
                tr
                  th Date
                  th Description
                  th Amount
              tbody#transactions-history-cnt(data-wallet-id="#{wallet.id}")
                
  include ../../templates/pending_transaction
  include ../../templates/transaction_history
