extends ../../layout

block content
  .main-content.settings(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li: a(href='/settings') Settings
          li: a(href='/settings/preferences') Preferences
          li.active: a(href='/settings/security') Security

      .col-main
        .container
          .con-header
            h1.con-header-title Change Password
          .con-body
            form#set-new-pass-form(action="/set-new-password", method="post")
              #error-cnt
              #notice-cnt
              fieldset
                .input-prepend
                  span.add-on
                    i.icon-lock
                  input(name="password", type="password", placeholder="Current password")
              fieldset
                .input-prepend
                  span.add-on
                    i.icon-lock
                  input#set-new-pass(name="new_password", type="password", placeholder="New password")
              fieldset
                .input-prepend
                  span.add-on
                    i.icon-lock
                  input(name="repeat_new_password", type="password", placeholder="Confirm password")
              fieldset.actions
                input(type="submit" value="Change Password").btn
                span 
                  a(href="/send-password") Lost your password?
        
        .container
          .con-header
            h1.con-header-title Two-factor authentication
          .con-body
            p 
              | We offer Google Authenticator as an extra security layer when logging in.
              | <br /> Enabling two-factor authentication greatly increases the security of your account.
            p.appstore-badges
              a(href="https://itunes.apple.com/app/google-authenticator/id388497605?mt=8").appstore.appstore-apple
                | Download on the App Store
              a(href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2").appstore.appstore-google
                | Get it on Google Play
            p 
              a(href="https://support.google.com/accounts/answer/1066447?hl=en", target="_blank", rel="_nofollow")
                | Check here for instructions on how to install Google Authenticator on your device.
            - if (user.gauth_data)
              .qr-code
                a(href="#{user.google_auth_data.google_auth_qr}", target="_blank")
                  img(src="#{user.google_auth_data.google_auth_qr}")
                p#qr-code #{user.gauth_key}
            a#qr-gen-bt(href="/generate_gauth") Enable Google Authenticator
        
        #auth-stats.container
          .con-header
            h1.con-header-title Authorization history
          .table-wrap
            table.trade-data
              tr
                th IP
                th Date
              - each stat in authStats
                tr
                  td #{stat.ip}
                  td #{stat.created_at.toFormat("DD.MM.YY HH24:MI")}
