doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title #{title ? title : 'Coinnext - Cryptocurrency Exchange'}
    
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    != css('main')

    script.
      CONFIG = {
        csrf: "#{csrfToken}",
        users: {
          hostname: "#{GLOBAL.appConfig().users.hostname}"
        },
        currentUser: {
          id: "#{user ? user.uuid : ''}"
        }
      }

  body
    header.page-head
      .wrapper
        .site-logo
          img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Coinnext").coinnext-logo
        nav.site-nav
          ul.nav
            - if (user)
              li: a(href='/funds', class=(page === 'funds' ? 'active' : '')) Funds
              li.dropdown
                a(href="/settings", class=(page === 'settings' ? 'active' : '')).dropdown-toggle
                  | #{user.email}
                  .caret
                ul.dropdown-menu
                  li: a(href="/settings") Settings
                  li: a(href="http://support.coinnext.com") Support
                  li: a(href='/logout') Logout
            - else
              nav.auth-nav
                ul.nav
                  li: a(href='/login').btn.white Login
                  li: a(href='/signup').btn Open New Account
    block content

    != js('application')
