extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .col-left
        include _market-ticker
      .col-right
        - if (user)
          - if (user.chat_enabled)
            include _chatbox
        - else
          include _chatbox
        // Twitter Widget
        <a class="twitter-timeline" href="https://twitter.com/coinnext" data-widget-id="416750665692487681" data-border-color="#dcdfe3">Tweets by @coinnext</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      .col-center
        include _warnings
        section#announcements.container
          .con-header
            h3.con-header-title Announcements
          ul.announcement-list
            li.announcement-item
              .time 24/12/13
              a(href="/announcements/1").title Bank holiday - December 25th, 26th
        section#market-list.container
          .con-header
            h3.con-header-title All Markets
          table.trade-data
            tr
              th Market
              th Currency
              th Last Price
              th Volume (24h)
              th % Change (24h)
            - each info, type in marketStats
              tr
                td <a href="/trade/#{type.replace("_", "/")}">#{type.replace("_", "/")}</a>
                td #{currencies[info.label]}
                td.rate.up #{info.last_price}
                td #{info.volume1} #{type.split("_")[0]}
                td 
