extends ../layout

block content
  .main-content(role='main')
    - if (!user)
      .hero-unit
        h1.tagline The Fast, Secure and Reliable<br /> Cryptocurrency Exchange
        // a(href='/signup').cta Get Started Now
      #features
        .wrapper
          ul.feature-list
            li.feature-item
              img(src="/img/hero/coins.svg", alt="Wide range of Coins").feature-img
              .feature-text Wide range of Coins
            li.feature-item
              img(src="/img/hero/safe.svg", alt="Bank-Grade Security").feature-img
              .feature-text Bank-Grade Security
            li.feature-item
              img(src="/img/hero/save.svg", alt="Low Fees").feature-img
              .feature-text Low Fees
            li.feature-item
              img(src="/img/hero/support.svg", alt="Fast Support").feature-img
              .feature-text Fast Support
    .wrapper
      .col-left
        include _market-ticker
      .col-right
        #coin-stats.coin-stats
          - var totalVolume = 0;
          - each info, type in marketStats
            - if (info.label) totalVolume = totalVolume + info.volume2
          ul
            li.volume
              label Total Volume:
              div #{_str.toFixed(totalVolume, 4)} BTC
            li.trades
              label Total Trades:
              div #{tradesCount}

        - if (user)
          - if (user.chat_enabled)
            include _chatbox
        - else
          include _chatbox
        // Twitter Widget
        <a class="twitter-timeline" href="https://twitter.com/coinnext" data-widget-id="416750665692487681" data-border-color="#dcdfe3">Tweets by @coinnext</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      .col-center
        include _warnings

        section#announcements.container
          .con-header
            h3.con-header-title Announcements
          ul.announcement-list
            li.announcement-item
              .time 07/10/14
              a(href="http://blog.coinnext.com/2014/07/10/coinnext-software-for-sale/", target="_blank").title Coinnext Software for Sale
            li.announcement-item
              .time 06/24/14
              a(href="http://blog.coinnext.com/2014/06/24/closing-down/", target="_blank").title Closing Down
        section#market-list.container
          .con-header
            h3.con-header-title All Markets
          table.trade-data
            tr
              th Market
              th Coin Name
              th Last Price
              th Volume (24h)
              th Change (24h)
            - each info, type in marketStats
              - if (info.label)
                tr
                  td <a href="/trade/#{type.replace("_", "/")}">#{type.replace("_", "/")}</a>
                  td #{currencies[info.label]}
                  - if (info.status === "disabled")
                    td ON HOLD
                  - else
                    td #{_str.toFixed(info.last_price)}
                  td #{_str.toFixed(info.volume1)} #{type.split("_")[0]}
                  -var growthRatio = _str.roundTo(info.growth_ratio, 2)
                  td(class="rate #{growthRatio > 0 ? 'up' : ''} #{growthRatio < 0 ? 'down' : ''} #{growthRatio == 0 ? 'none' : ''}") #{_str.toFixed(Math.abs(growthRatio), 2)}%
