extends ../layout

block content
  #trade.main-content(role='main')
    .wrapper
      .col-left
        include _market-ticker
      .col-right
        - var coinStats = marketStats[currency1 + "_" + currency2];
        .coin-stats
          table.trade-data
            tr.last-price
              th Last Price:
              td #{coinStats.last_price} #{currency1} <span class="change down">#{coinStats.growth_ratio}%</span>
            tr.high-price
              th 24hr High:
              td #{coinStats.day_high} #{currency1}
            tr.low-price
              th 24hr Low:
              td #{coinStats.day_low} #{currency1}
            tr.volume
              th Volume:
              td #{coinStats.volume2} #{currency2} / #{coinStats.volume1} #{currency1}
        include _chatbox

      .col-center
        h1.market-title <b>#{wallet1.currency_name}</b> to <b>#{wallet2.currency_name}</b> Exchange
        .container
          .graph

        // Order Box
        section#order-boxes.wrap
          .two-col-wrap
            #buy-box.order-box
              .con-header
                h3.con-header-title Buy #{wallet1.currency}
                .header-balance <a href="#{wallet2.user_id ? '/funds/' + wallet2.currency : '/signup'}" class="amount">#{wallet2.balance} #{wallet2.currency}</a> Available
              .order-box-body
                .market-type
                  label
                    input.market-switcher(type='radio', name='buy', value="market", checked)
                    i Market Order
                  label
                    input.market-switcher(type='radio', name='buy', value="limit")
                    i Limit Order
                #market-buy-box.market-order
                  form#market-buy-form.order-form
                    input(name="type", type="hidden", value="market")
                    input(name="action", type="hidden", value="buy")
                    input(name="sell_currency", type="hidden", value="#{wallet2.currency}")
                    input(name="buy_currency", type="hidden", value="#{wallet1.currency}")
                    label I want to Spend:
                    .currency-input
                      input(type="text", name="amount")
                      .overlay-amount #{wallet2.currency}
                    table.order-overview
                      tr.subtotal
                        th Total:
                        td <span class="amount">#{wallet1.balance} #{wallet2.currency}</span>
                      tr.fee
                        th Fee:
                        td <span class="amount">0.002 #{wallet2.currency}</span>
                      tr.to-receive
                        th Approx. #{wallet1.currency} to receive:
                        td <span class="amount">0 #{wallet1.currency}</span>
                    .confirm-order
                      button Buy #{wallet1.currency}
                #limit-buy-box.limit-order
                  form#limit-buy-form.order-form
                    input(name="type", type="hidden", value="limit")
                    input(name="action", type="hidden", value="buy")
                    input(name="sell_currency", type="hidden", value="#{wallet2.currency}")
                    input(name="buy_currency", type="hidden", value="#{wallet1.currency}")
                    label Amount to Buy:
                    .currency-input
                      input(type="text", name="amount")
                      .overlay-amount #{wallet1.currency}
                    label Price per #{wallet1.currency}:
                    .currency-input
                      input(type="text", name="unit_price")
                      .overlay-amount #{wallet2.currency}
                    table.order-overview
                      tr.to-receive 
                        th Total:
                        td <span class="amount">#{wallet2.balance} #{wallet2.currency}</span>
                    .confirm-order
                      button Buy #{wallet1.currency}

          .two-col-wrap
            #sell-box.order-box
              .con-header
                h3.con-header-title Sell #{wallet1.currency}
                .header-balance <a href="#{wallet1.user_id ? '/funds/' + wallet1.currency : '/signup'}" class="amount">#{wallet1.balance} #{wallet1.currency}</a> Available
              .order-box-body
                .market-type
                  label
                    input.market-switcher(type='radio', name='sell', value="market", checked)
                    i Market Order
                  label
                    input.market-switcher(type='radio', name='sell', value="limit")
                    i Limit Order
                #limit-sell-box.limit-order
                  form#limit-sell-form.order-form
                    input(name="type", type="hidden", value="limit")
                    input(name="action", type="hidden", value="sell")
                    input(name="sell_currency", type="hidden", value="#{wallet2.currency}")
                    input(name="buy_currency", type="hidden", value="#{wallet1.currency}")
                    label Amount to Sell:
                    .currency-input
                      input(type="text", name="amount")
                      .overlay-amount #{wallet1.currency}
                    label Price per #{wallet1.currency}:
                    .currency-input
                      input(type="text", name="unit_price")
                      .overlay-amount #{wallet2.currency}
                    table.order-overview
                      tr.to-receive 
                        th Total:
                        td <span class="amount">#{wallet2.balance} #{wallet2.currency}</span>
                    .confirm-order
                      button Sell #{wallet1.currency}
                #market-sell-box.market-order
                  form#market-sell-form.order-form
                    input(name="type", type="hidden", value="market")
                    input(name="action", type="hidden", value="sell")
                    input(name="sell_currency", type="hidden", value="#{wallet2.currency}")
                    input(name="buy_currency", type="hidden", value="#{wallet1.currency}")
                    label I want to Sell:
                    .currency-input
                      input(type="text", name="amount")
                      .overlay-amount #{wallet1.currency}
                    table.order-overview
                      tr.subtotal 
                        th Total:
                        td <span class="amount">#{wallet1.balance} #{wallet1.currency}</span>
                      tr.fee
                        th Fee:
                        td <span class="amount">0 #{wallet1.currency}</span>
                      tr.to-receive
                        th Approx. #{wallet2.currency} to receive:
                        td <span class="amount">0 #{wallet2.currency}</span>
                    .confirm-order
                      button Sell #{wallet1.currency}

        // Open Orders
        - if (user)
          section#open-orders.container
            .con-header
              h3.con-header-title Open Orders
            .table-wrap
              table.trade-data
                thead
                  tr
                    th Date
                    th Type
                    th Price
                    th #{wallet1.currency}
                    th #{wallet2.currency}
                    th Action
                tbody#open-orders-cnt(data-currency1="#{wallet1.currency}", data-currency2="#{wallet2.currency}")
        
        // Order Book
        section#order-book.wrap
          .two-col-wrap
            #sell-orders.order-book
              .con-header
                h3.con-header-title Sell Orders
                .order-book-total Total: 0893892039 PPC
              .table-wrap
                table.trade-data
                  thead
                    tr
                      th Price
                      th #{wallet1.currency}
                      th #{wallet2.currency}
                  tbody#open-sell-orders-cnt(data-currency1="#{wallet1.currency}", data-currency2="#{wallet2.currency}")

          .two-col-wrap
            #buy-orders.order-book
              .con-header
                h3.con-header-title Buy Orders
                .order-book-total Total: 673 BTC
              table.trade-data
                thead
                  tr
                    th Price
                    th #{wallet1.currency}
                    th #{wallet2.currency}
                tbody#open-buy-orders-cnt(data-currency1="#{wallet2.currency}", data-currency2="#{wallet1.currency}")

        // Trade History
        section#trade-history.trade-history.container
          .con-header
            h3.con-header-title Trade History
          .table-wrap
            table.trade-data
              thead
                tr
                  th Date
                  th Type
                  th Price
                  th #{wallet1.currency}
                  th #{wallet2.currency}
              tbody#closed-orders-cnt(data-currency1="#{wallet1.currency}", data-currency2="#{wallet2.currency}")

  include ../templates/open_order
  include ../templates/site_open_order
  include ../templates/site_closed_order
