extends ../layout

block content
  #trade.main-content(role='main', data-currency1="#{wallet1.currency}", data-currency2="#{wallet2.currency}")
    .wrapper
      .col-left
        include _market-ticker
      .col-right
        - var coinStats = marketStats[currency1 + "_" + currency2];
        #coin-stats.coin-stats
        
        include _chatbox

      .col-center
        h1.market-title <b>#{wallet1.currency_name}</b> to <b>#{wallet2.currency_name}</b> Exchange
        .container
          #trade-chart.graph

        // Order Box
        section#order-boxes.wrap
          .two-col-wrap
            #buy-box.order-box
              .con-header
                h3.con-header-title <i class="icon-circle-arrow-down"></i> Buy #{wallet1.currency}
                .header-balance <a href="#" class="amount" data-amount="#{_str.satoshiRound(wallet2.balance)}" data-type="buy"><span data-wallet-balance-id="#{wallet2.id}">#{_str.satoshiRound(wallet2.balance)}</span> #{wallet2.currency}</a> Available
              .order-box-body
                .market-type
                  label
                    input.market-switcher(type='radio', name='buy', value="market", checked)
                    i Market Order
                  label
                    input.market-switcher(type='radio', name='buy', value="limit")
                    i Limit Order
                #market-buy-box.market-order
                  form#market-buy-form.order-form
                    input(name="type", type="hidden", value="market")
                    input(name="action", type="hidden", value="buy")
                    input(name="sell_currency", type="hidden", value="#{wallet2.currency}")
                    input(name="buy_currency", type="hidden", value="#{wallet1.currency}")
                    input#buy-unit-price(name="unit_price", type="hidden", value="#{coinStats.last_price}")
                    label I want to spend:
                    .currency-input
                      input#spend-amount-input(type="text", name="amount", autocomplete="off", maxlength="12")
                      .overlay-amount #{wallet2.currency}
                    table.order-overview
                      tr.subtotal
                        th Subtotal:
                        td <span id="buy-subtotal" class="amount">0</span> #{wallet1.currency}
                      tr.fee
                        th Fee:
                        td <span id="buy-fee" class="amount" data-fee="#{wallet1.fee}">0</span> #{wallet1.currency}
                      tr.to-receive
                        th Approx. #{wallet1.currency} to receive:
                        td <span id="buy-amount-result" class="amount">0</span> #{wallet1.currency}
                    .confirm-order
                      button Buy #{wallet1.currency_name}
                #limit-buy-box.limit-order
                  form#limit-buy-form.order-form
                    input(name="type", type="hidden", value="limit")
                    input(name="action", type="hidden", value="buy")
                    input(name="sell_currency", type="hidden", value="#{wallet2.currency}")
                    input(name="buy_currency", type="hidden", value="#{wallet1.currency}")
                    label Amount to Buy:
                    .currency-input
                      input#buy-amount-input(type="text", name="amount", maxlength="12")
                      .overlay-amount #{wallet1.currency}
                    label Price per #{wallet1.currency}:
                    .currency-input
                      input#buy-unit-price(type="text", name="unit_price", value="#{coinStats.last_price}")
                      .overlay-amount #{wallet2.currency}
                    table.order-overview
                      tr.subtotal
                        th Total to spend:
                        td <span id="buy-subtotal" class="amount">0</span> #{wallet2.currency}
                      tr.fee
                        th Fee:
                        td <span id="buy-fee" class="amount" data-fee="#{wallet1.fee}">0</span> #{wallet1.currency}
                      tr.to-receive
                        th Approx. #{wallet1.currency} to receive:
                        td <span id="buy-amount-result" class="amount">0</span> #{wallet1.currency}
                    .confirm-order
                      button Buy #{wallet1.currency_name}

          .two-col-wrap
            #sell-box.order-box
              .con-header
                h3.con-header-title <i class="icon-circle-arrow-up"></i> Sell #{wallet1.currency}
                .header-balance <a href="#" class="amount" data-amount="#{_str.satoshiRound(wallet1.balance)}" data-type="sell"><span data-wallet-balance-id="#{wallet1.id}">#{_str.satoshiRound(wallet1.balance)}</span> #{wallet1.currency}</a> Available
              .order-box-body
                .market-type
                  label
                    input.market-switcher(type='radio', name='sell', value="market", checked)
                    i Market Order
                  label
                    input.market-switcher(type='radio', name='sell', value="limit")
                    i Limit Order
                #market-sell-box.market-order
                  form#market-sell-form.order-form
                    input(name="type", type="hidden", value="market")
                    input(name="action", type="hidden", value="sell")
                    input(name="sell_currency", type="hidden", value="#{wallet1.currency}")
                    input(name="buy_currency", type="hidden", value="#{wallet2.currency}")
                    input#sell-unit-price(name="unit_price", type="hidden", value="#{coinStats.last_price}")
                    label I want to Sell:
                    .currency-input
                      input#sell-amount-input(type="text", name="amount", autocomplete="off", maxlength="12")
                      .overlay-amount #{wallet1.currency}
                    table.order-overview
                      tr.subtotal 
                        th Subtotal:
                        td <span id="sell-subtotal" class="amount">0</span> #{wallet2.currency}
                      tr.fee
                        th Fee:
                        td <span id="sell-fee" class="amount" data-fee="#{wallet2.fee}">0</span> #{wallet2.currency}
                      tr.to-receive
                        th Approx. #{wallet2.currency} to receive:
                        td <span id="sell-amount-result" class="amount">0</span> #{wallet2.currency}
                    .confirm-order
                      button Sell #{wallet1.currency_name}
                #limit-sell-box.limit-order
                  form#limit-sell-form.order-form
                    input(name="type", type="hidden", value="limit")
                    input(name="action", type="hidden", value="sell")
                    input(name="sell_currency", type="hidden", value="#{wallet1.currency}")
                    input(name="buy_currency", type="hidden", value="#{wallet2.currency}")
                    label Amount to Sell:
                    .currency-input
                      input#sell-amount-input(type="text", name="amount", maxlength="12")
                      .overlay-amount #{wallet1.currency}
                    label Price per #{wallet1.currency}:
                    .currency-input
                      input#sell-unit-price(type="text", name="unit_price", value="#{coinStats.last_price}")
                      .overlay-amount #{wallet2.currency}
                    table.order-overview
                      tr.subtotal 
                        th Total to receive:
                        td <span id="sell-subtotal" class="amount">0</span> #{wallet2.currency}
                      tr.fee
                        th Fee:
                        td <span id="sell-fee" class="amount" data-fee="#{wallet2.fee}">0</span> #{wallet2.currency}
                      tr.to-receive
                        th Approx. #{wallet2.currency} to receive:
                        td <span id="sell-amount-result" class="amount">0</span> #{wallet2.currency}
                    .confirm-order
                      button Sell #{wallet1.currency_name}

        // Open Orders
        - if (user)
          section#open-orders.container
            .con-header
              h3.con-header-title Open Orders
            .table-wrap
              table.trade-data
                thead
                  tr
                    th Date
                    th Type
                    th Price
                    th #{wallet1.currency}
                    th #{wallet2.currency}
                    th Action
                tbody#open-orders-cnt(data-currency1="#{wallet1.currency}", data-currency2="#{wallet2.currency}")
        
        // Order Book
        section#order-book.wrap
          .two-col-wrap
            #sell-orders.order-book
              .con-header
                h3.con-header-title Sell Orders
                .order-book-total Total: <span id="open-sell-volume-total">0</span> #{wallet1.currency}
              .table-wrap
                table.trade-data
                  thead
                    tr
                      th Price
                      th #{wallet1.currency}
                      th #{wallet2.currency}
                  tbody#open-sell-orders-cnt(data-currency1="#{wallet1.currency}", data-currency2="#{wallet2.currency}")

          .two-col-wrap
            #buy-orders.order-book
              .con-header
                h3.con-header-title Buy Orders
                .order-book-total Total: <span id="open-buy-volume-total">0</span> #{wallet2.currency}
              table.trade-data
                thead
                  tr
                    th Price
                    th #{wallet1.currency}
                    th #{wallet2.currency}
                tbody#open-buy-orders-cnt(data-currency1="#{wallet1.currency}", data-currency2="#{wallet2.currency}")

        // Trade History
        section#trade-history.trade-history.container
          .con-header
            h3.con-header-title Trade History
          .table-wrap
            table.trade-data
              thead
                tr
                  th Date
                  th Type
                  th Price
                  th #{wallet1.currency}
                  th #{wallet2.currency}
              tbody#closed-orders-cnt(data-currency1="#{wallet1.currency}", data-currency2="#{wallet2.currency}")

  include ../templates/coin_stats
  include ../templates/open_order
  include ../templates/site_open_order
  include ../templates/site_closed_order
